@model ShopFashion.Models.Fashion

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa đơn hàng</h1>

<h3>Bạn có chắc là muốn hủy đơn hàng chứ?</h3>
<div>
    <h4>Thông tin đơn hàng</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDatHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDatHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayGiaoHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayGiaoHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
