@model ShopFashion.Models.Fashion

@{
    ViewData["Title"] = "Details";
}

<h1>Thêm Đơn Hàng</h1>

<div>
    <h4>Fashion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDatHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDatHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayGiaoHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayGiaoHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Thoát</a> |
    <a asp-action="Index">Quay Lại</a>
</div>
